*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nevigtion-bar{
    padding: 1rem;
}

.first-unodar-list{
    display: flex;
    list-style: none;
    font-family: sans-serif;
    font-weight: 550;
}


.home{

}

.second-unodar-list{
    margin-left: auto;
    display: flex;
    list-style: none;
    /* padding: 1rem; */
}

.first-unodar-list li{
    margin-right: 4rem;

}

.Personal-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;

}


.mr{
    margin-top: 2rem;
}

.my-name{
    font-family: sans-serif;
    font-weight: 550;
    font-size:2rem;
    max-width: 21rem;
}
.data p {
    max-width:25rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #423e3ede;
}

.download button{
    border: none;
    outline: none;
    background-color: transparent;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    background-color: #ff6464;
}


.skill-groups{
    width: 100%;
    height: auto;
    background-color:#d4edf5;
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}



.first-skill{
    /* padding: 2rem; */
}
.recent p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-bottom: 1rem;
}


.meking-groups{
    width: 418px;
    height: 295px;
    background-color:#fff;
    padding: 2rem;
    border-radius: 5px;
}
.meking p{
    width: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 900;
}

.works-groups{
    margin-top: 2rem;

}


.desing{
    display: flex;
    gap: 2rem;
    /* padding: 0 0 0 1rem; */
}

.meking-text{
    width: 20rem;
}

.mr2{
    margin-top: 1.5rem;
}

.view-all{
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    justify-content: end;
    color: #59c5dd;
}


.det-of-bath{
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
}
.designing-dash{
    width: 15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 900;
}
.designnig{
    display: flex;
    gap: 1rem;
}
.det{
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    border-radius: 10px;
}

.dash{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #75646454;
}

.designing-text p{
    width: 28rem;
    margin-top: 3rem;
    height: auto;
}